@model IEnumerable<TopStocks.Models.Holding>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            HoldingValue
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyingTotalSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyingDate)
        </th>
        <th>
            Profit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyingTotalSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyingDate)
        </td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 

    </tr>
}

</table>
