@model IEnumerable<TopStocks.Models.Holding>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Price.CurrentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            HoldingValue
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyingValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyingDate)
        </th>
        <th>
            Profit
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var holdingValue = item.Quantity * item.Stock.Price.CurrentPrice;

        var profit = (((item.Stock.Price.CurrentPrice - item.BuyingPrice) / item.BuyingPrice) * 100) + "%";


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Price.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @holdingValue
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyingValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyingDate)
            </td>
            <td>
                @profit
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
